html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

body* > {
  box-sizing: border-box;
}

body {
    position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #171717;
  overflow: auto;

}

.card-container {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 56px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
    background: #171314;  
    border-radius: 25px;
}
.card-background {
    height: 600px;
    margin: 20px 20px 0 20px;
    z-index: 0;
    display: flex;
    background-size: cover;
    background-color: #bbb;
    background-image: url(https://image.ibb.co/e1XKAS/green_background.jpg);
    background-repeat: no-repeat;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.frame-header,
.frame-type-line {
    border-top: 1px solid #fff;
    border-left: 2px solid #a9a9a9;
    border-right: 1px solid #fff;
    border-bottom: 4px solid #a9a9a9;
}

.frame-header,
.frame-art,
.frame-type-line {
    box-shadow: 
        0 0 0 2px #171314,
        0 0 0 5px #26714A,
        -3px 3px 2px 5px #171314;

    margin-bottom: 7px;
}

.frame-text-box {
    box-shadow: 
        0 0 0 5px #26714A,
        -3px 3px 2px 5px #171314;
}

.frame-header,
.frame-type-line,
.frame-text-box {
    overflow: hidden;
}

.card-frame {
    top: 0.5%;
    left: 1%;
    height: 108%;
    z-index: 1;
    display: flex;
    position: relative;
    max-width: 97%;
    flex-direction: column;
}

.frame-header,
.frame-type-line {
    display: flex;
    padding: 8px 0;
    background: 
        linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), 
        url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);     
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 18px/40px;
    justify-content: space-between;
}

.name,
.type {
    font-size: 1.3em;
    align-self: center;
    margin-left: 10px;
    font-weight: 600;
}

#mana-icon {
    height: 20px;
    font-size: 1.4em;
    box-sizing: border-box;
    align-self: center;
    box-shadow: -0.05em 0.12em 0px 0 black;
    background: #ADD3AC;
    margin-right: 5px;
    border-radius: 50%;
}
.frame-art {
    height: 50%;
    margin: 0 10px; 
}

#set-icon {
    height: 22px;
    width: 25px;
    overflow: hidden;
    margin-right: 10px;
    align-self: center;
} 
.frame-type-line {
    margin-top: 0;
} 

.frame-text-box {
    margin: 0 10px;
    display: flex;
    padding: 50px 6px;
    font-size: 1.2em;
    background: #d3ded6;
    flex-direction: column;
    justify-content: space-around;    
    background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
}

.flavour-text {
    font-style: italic;
    padding: 10px 0;
}

p {
    margin-bottom: 5px;
}

.ftb-inner-margin {
    margin: 5px 1px;
}

.frame-bottom-info {
    color: white;
    margin: 5px 1px 0 1px; 
    display: flex;
    justify-content: space-between;
}

fbi-left {
    flex: 1;
} 
.fbi-left p:first-of-type {
    margin-bottom: 1px;
}
.fbi-left,
.fbi-right {
    top: 6px;
    position: relative;
    font-size: 10px;
}

.fbi-center {
    bottom: 10px;
    height: 21px;
    z-index: 2;
    position: relative;
    flex-basis: 40px;
    background: lightgray;
    box-shadow: 
    0 0 0 4px #171314;
    border-radius: 60%;
    background-image: url(https://image.ibb.co/jyq34n/holofoil_texture_2.jpg);
}
.inner-margins {
    margin: 0 10px;
}
#brush-icon {
    width: 5%;
    height: 5%;
}

footer {
    color: white;
    display: flex;
    padding: 30px;
    font-size: large;
    margin-top: auto;
    font-family: monospace;
    justify-content: center;
}